.issue-item-container {
    border: #ccc 1px  dashed;
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

.issue-list-message {
    border: none;
    margin: 5px;
    padding: 5px;
    color: #59635d;
}