.LoginForm {
    padding: 100px;
}

.LoginForm input {
    height: 19px;
    width: 200px;
    margin: 10px;
}

.LoginForm .status-message {
    float: left;
    font-size: 0.6em;
    color: #7a393c;
}