.PageContainer {
    padding: 20px;
    margin-top: 100px;
}

.page-column-container {
    display: flex;
    flex-direction: row;
}

.page-left-column {
    flex: 25%;
}

.page-right-column {
    flex: 75%;
}

#logout-button {
    padding: 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

@media all and (max-width: 750px) {

    .page-left-column {
        flex: 35%;
    }

    .page-right-column {
        flex: 65%;
    }

}