.IssueItem {
    display: flex;
    flex-direction: row;
}

.issue-item-row {
    flex: 50%;
    display: flex;
    flex-direction: row;
}

.issue-item-element {
    text-align: left;
    padding: 4px;
}

.issue-item-element.detail {
    text-align: right;
    font-size: 0.8em;
}

@media all and (max-width: 750px) {

    .IssueItem {
        flex-direction: column;
    }

}