body {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #777;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  background-color: #f5fff8;
  color: #59635d;
}

button {
  padding: 5px;
  background-color: #fff;
  border: #aaa 1px solid;
  cursor: pointer;
}

button:hover {
  background-color: #f5fff8;
}